extends layout

block content
  div.jumbotron
    h1 TaskCluster Statistics
    p
      | Welcome to the TaskCluster Statistics, this node collects and present
      | statistics.
    p
      b Enjoy,
  if !user
    div.alert.alert-info
      strong Notice,
      |  you must be authenticated with an
      code @mozilla.com
      |  e-mail address to access these pages. Please
      a.alert-link.signin(href='#')  sign in
      | !